div#datos
{
    margin-left: 20px;
    background: rgba(37, 206, 141, 0.1);
    border-radius: 5%;
}
h2
{
    box-align: center;
    margin-left: 20px;

}

div#resultado
{
    border-color: 1px solid;
    width: 100%;
    height: 100%;
    border-style: outset;
    border-color: 1px blue;

}